amqp==5.3.1
async-timeout==5.0.1
asyncpg==0.30.0
billiard==4.2.1
blinker==1.9.0
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
exceptiongroup==1.2.2
Flask==3.1.0
greenlet==3.1.1
imageio==2.37.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
kombu==5.4.2
lazy_loader==0.4
MarkupSafe==3.0.2
networkx==3.4.2
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pytest==8.3.4
python-dateutil==2.9.0.post0
redis==5.2.1
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
SQLAlchemy==2.0.38
threadpoolctl==3.5.0
tifffile==2025.2.18
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
